<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/layout.css">

  </head>
     
  <body>
    <div id="food_area" class="baseContainer" v-cloak>

      <div id="food" class="orderFields">
        <!-- Food things goes in here !-->

        <div v-for="item in menu.food" class="item foodItem" :id="item.id">
          <button type="button" class="addFood" :onclick="'incrementOrder(\'' + item.id + '\');'">
            <h4 class="addFoodButtonText">{{ item.name }}</h4>
            <img class="foodImage" :src="'img/food/' + item.id + '.png'" alt="food should be displayed here">
            <p class="price addFoodButtonText">{{ item.price }} kr</p>
          </button>
          <div class="itemOptions">
            <button type="button" :onclick="'decrementOrder(\'' + item.id + '\');'">
              <img src="img/icons/remove.png" alt="">
            </button>
            <div class="itemAmount">{{ orders[item.id] }}</div>
            <button type="button">
              <img src="img/icons/info.png" alt="">
            </button>
          </div>

        </div>


      </div>

      <div id="help" class="orderFields">
        <!-- Help things goes in here !-->
        <button type="button" id="resetOrder" v-on:click="askReset = true">Avbryt</button>
      </div>

    </div>

    <div id="drink_area" class="baseContainer" v-cloak>
      <div id="drinks" class="orderFields">
        <!-- Drink things goes in here !-->
        <!-- Test draft for Drinks section
        <div id="drinkCategories">
          <div v-for="category in menu.drinks" class="item drinkCategory">
            <button type="button">
              <h4>{{ category.name }}</h4>
              <img :src="'img/' + category.img" alt="drink category here">
            </button>
          </div>
        </div>

        <div id="drinkDisplayArea">
          <div v-for="category in menu.drinks" class="drinkDisplay">
          <div v-for="drink in category.content" class="item foodItem">
            <button type="button">
              <h4>{{ drink.name }}</h4>
              <img :src="'img/' + category.category + drink.img" alt="drinks should be displayed here">
              <p class="price">{{ drink.price }} kr</p>
            </button>
            <div class="itemOptions">
              <button type="button">
                <img src="img/remove.png" alt="">
              </button>
              <div class="itemAmount"><p>14</p></div>
            </div>

          </div>

        </div>
        !-->
      </div>
    </div>

    <div id="order_area" class="baseContainer" v-cloak>

      <div id="order" class="orderFields">
        <!-- Order things goes in here !-->

        <div id="table_num">
          <!-- Num pad for entering table number goes here !-->

          <div id="table_input" class="section_header">Table number: <input id="tbl_num"><img src="http://downloadicons.net/sites/default/files/power-restart-icon-66510.png" id="reset_btn" onclick="resetTableNum();"><br>

            <container>
              <block onclick="addToTableNum(1);"><p class="num">1</p></block>
              <block onclick="addToTableNum(2);"><p class="num">2</p></block>
              <block onclick="addToTableNum(3);"><p class="num">3</p></block>
              <block onclick="addToTableNum(4);"><p class="num">4</p></block>
              <block onclick="addToTableNum(5);"><p class="num">5</p></block>
              <block onclick="addToTableNum(6);"><p class="num">6</p></block>
              <block onclick="addToTableNum(7);"><p class="num">7</p></block>
              <block onclick="addToTableNum(8);"><p class="num">8</p></block>
              <block onclick="addToTableNum(9);"><p class="num">9</p></block>
              <block onclick="addToTableNum(0);"><p class="num">0</p></block>
            </container>
          </div>
        </div>

        <div id="order_summary">
          <div id="orderList">
            <div v-for="item in menu.food" v-if="orders[item.id] > 0" class="orderGroup">
              <p class="foodName">- {{ orders[item.id] }} {{ item.name }}:</p>
              <p class="foodPrice">{{ item.price * orders[item.id] }} kr</p>
            </div>
          </div>
          
          <div id="totalSum">
            <p>Summa: {{ totalSum }} kr</p>
          </div>
          <!-- The order order summary goes here !-->
        </div>

        <div id="order_buttons">
          <button class="orderButtons" id="cardButton">Kort</button>
          <br>
          <button class="orderButtons" id="miscButton">Övrigt</button>
          <!-- The various order buttons goes here !-->
        </div>

      </div>

    </div>
    
    <div id="popups" v-cloak>
      <div id="resetPopup" v-if="askReset">
        <div id="resetPopupMain">
          <h1>Avbryt beställning?</h1>
          <button type="button" onclick="resetPage()" v-on:click="askReset = false">Ja</button>
          <button type="button" v-on:click="askReset = false">Nej</button>
        </div>
      </div>
    </div>

    <!-- Script imports !-->
    <script src="/vue/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/nationPub.js"></script>
    <script src="js/diner.js"></script>

    <script src="data/menu.js"></script>
    <script src="js/commonFunctions.js"></script>
    <script src="js/populatePage.js"></script>
    <script>
      docLoaded(indexIsLoaded); // This has not yet been defined
    </script>
  </body>

</html>



