:root {
  --back-color: black;
  --back-color: black;
  --back-color: black;
  --back-color: black;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E0E0E0;
    overflow: hidden;
    margin: 0.5vh;
}

.baseContainer {
    width: 33vw;
    height: 100vh;
    background: #E0E0E0;
    float: left;
}

.orderFields {
    background: #EFDC9F;
    width: 33vw;
    height: 100vh;
    margin: 0.5vh;
    padding: 1vh 1vw 1vh 1vw;
    color: #000;
}

.orderButtons {
    background-color: #4CAF50; /* Green */
    border: none;
    color: #000;
    margin: 0.5vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 7vh;
    position: relative;
    border: solid 0.5vh;
}

.foodButton {
    height: 5vh;
    width: 5vw;
}

.orderButtons:active {
    background-color: #3e8e41;
}

.foodName {
    text-align: left;
    
}

.foodPrice {
    text-align: right;
}

#orderList {
    overflow: auto;
    width: 25vw;
    height: 30vh;
    background: #E0E0E0;
    color: #000;
    position: relative;
    margin: auto;
    margin-top: 2vh;
    border: solid 0.5vh;
    font-size: 2vh;
}

#totalSum {
    overflow: auto;
    width: 25vw;
    height: auto;
    background: #E0E0E0;
    color: #000;
    position: relative;
    margin: auto;
    border: solid 0.5vh;
    border-top: hidden;
    font-size: 2vh;
}

#food {
    height: 80vh;
}

#help {
    height: 20vh;
}

#cardButton {
    width: 17vw;
    height: 13vh;
    border-radius: 10vh;
}

#miscButton {
    width: 13vw;
    height: 8vh;
    border-radius: 8vh;
    font-size: 3vh;
}

.item {
    width: 5wv;
    height: 5vh;
    border: double cornflowerblue 0.5vh;
    display: inline-block;
}

.item > img {
    height: 5vh;
    width: 5vw;
}

#order {
    text-align: center;
}

.section_header {
    font-weight: bold;
    font-size: 5vh;
}

input {
    width: 10wv;
    height: 5vh;
    display: inline-block;
    font-size: 5vh;
}

#table_input {
    font-size: 3vh;
}

#tbl_num {
    height: 5vh;
    width: 7vw;
    font-size: 4vh;
}

container {
    width: 20vw;
    height: 25vh;
    border: none;
    display: inline-block;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

block {
    display: inline-block;
    width: 4.5vw;
    height: 6.5vh;
    margin: 0.3vh;
    background: goldenrod;
    float: none;
}

.num {
    margin-top: 2vh;
    font-size: 3vh;
}

#reset_btn {
    padding-left: 1vw;
    width: 4vw;
    height: 4vh;
}