:root {
  --back-color: black;
  --back-color: black;
  --back-color: black;
  --back-color: black;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E0E0E0;
    overflow: hidden;
}

.baseContainer {
    width: 33%;
    height: 1080px;
    background: #E0E0E0;
    float: left;
 
}

.orderFields {
    background: #EFDC9F;
    width: auto;
    height: 1020px;
    margin: 5px;
    padding: 15px;
}

#food {
    height: 80%;
}

#help {
    height: 11.1%;
}

.item {
    width: 25%;
    border: double cornflowerblue 2px;
  display: inline-block;
}

.item > img {
    height: 100%;
    width: 100%;
}

#order {
    text-align: center;
}

.section_header {
    font-weight: bold;
    font-size: 40px;
}

input {
    width: 270px;
    height: 40px;
    display: inline-block;
    font-size: 38px;
}

#table_input {
}