:root {
  --back-color: #f0f0f0;
  --border-color: #cacaca;
  --base-color: white;
  --text-color: black;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--back-color);
    overflow: hidden;
}

.baseContainer {
    width: 33%;
    height: 1080px;
    background: var(--back-color);
    float: left;
 
}

.orderFields {
    background: var(--base-color);
    border: 1px solid var(--border-color);
    width: auto;
    height: 1020px;
    margin: 5px;
    padding: 15px;
    color: #000;
}

.orderButtons {
    background-color: #4CAF50; /* Green */
    border: none;
    color: #000;
    padding: 15px 32px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    position: relative;
    border: solid 5px;
}

.orderButtons:active {
    background-color: #3e8e41;
}

.foodName {
    text-align: left;
    
}

.foodPrice {
    text-align: right;
}

#orderList {
    overflow: auto;
    width: 350px;
    height:350px;
    background: #E0E0E0;
    color: #000;
    position: relative;
    left: 18%;
    border: solid 5px;
}

#totalSum {
    overflow: auto;
    width: 350px;
    height:auto;
    background: #E0E0E0;
    color: #000;
    position: relative;
    left: 18%;
    border: solid 5px;
    border-top: hidden;
}

#food {
  height: 80%;
  padding: 0px;
}

#help {
    height: 11.1%;
}

#cardButton {
    width: 350px;
    height: 150px;
    border-radius: 100px;
}

#miscButton {
    width: 250px;
    height: 100px;
    border-radius: 50px;
    font-size: 2em;
}

.item {
  width: 20%;
  /*border: double cornflowerblue 2px;*/
  display: inline-block;
  margin: 2%;
}

.item img {
  height: 90px;
  width: 100%;
}

.itemOptions *{
  display: inline-block;
  text-align: center;
  font-size: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.itemOptions div{
  width: 22%;
}
.itemOptions > button {
  border-radius: 40px;
  border: 1px solid dimgrey;
  width: 35%;
}
.itemOptions img {
  height: 100%;
  width: 100%;
}

#order {
    text-align: center;
}

.section_header {
    font-weight: bold;
    font-size: 40px;
}


input {
    width: 190px;
    height: 40px;
    display: inline-block;
    font-size: 38px;
}

#table_input {
}

container {
    width: 600px;
    border: none;
    display: inline-block;
    padding-bottom: 2%;
    padding-top: 2%;
}

block {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 5px;
    background: goldenrod;
    float: none;
}

.num {
    margin-top: 18px;
}

#reset_btn {
    padding-left: 8px;
}