body {
    background-color: #E0E0E0;
}

.orderFields {
    width: calc(100%  /3);
    height: 1080px;
    border: 5px solid #E0E0E0;
    background: #EFDC9F;
}

#left {
 
    float:left;
}

#mid {
    margin: auto;
}

#right {
 
    float:right;
}

#food {
    width: 100%;
    height: 80%;
}

#help {
 
    border-style: hidden;
    border-top: thick solid #E0E0E0;
    width: auto;
    height: auto;
}